.theme-1 {
  /* display: flex;
  -webkit-display: flex; */
}

.theme-1 .row > aside {
  color: white;
  background-color: #00C5AF;
  position: relative;
}
.theme-1 .row > aside:after {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100% 0 0 100px;
  border-color: transparent transparent transparent
}
.theme-1 .row > aside > * {
  display: block;
  margin: auto;
  margin-top: auto;
  margin-top: 50%;
  transform: translateY(-50%);
  width: 80%;
}
.theme-1 .row > section {

  background-color: #00796B;
}
.layout-general {
  transition: 0.5s;
  height: 100vh;
}
/* .left {
  height: 100vh;
} */
